body {
    padding-top: 70px;
    padding-bottom: 30px;

/*    background-image: url('{% static "images/background.png" %}');*/
    background-image: url("images/background.png");

}

/*h1 {
  font-family: 'Roboto Mono', sans-serif;
}*/

.game-question {
    text-align: center;
}

.score-report-header {
    text-align: center;
}

.top-words-header {
    text-align: center;
}

.welcome-col {
    text-align: center !important;
}

img.logo {
   width:400px;
   height:180px;
}

img.team {
   width:80px;
   height:80px;
}

.boxed {
  border: 1px;
  border-color: gray;
}

.instructions-modal {
    text-align: left;
}

/* CSS for d3 bar chart*/
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}


