body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.game-question {
    text-align: center;
}

.score-report-header {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    padding-left: 40%;
}

.col-sm-8 {
    padding-left: 35%;
}

.col-sm-12 {
    position:center;
}
.col-md-12 {
    padding-left: 35%;
}

img.logo {
   width:400px;
   height:180px;
}

img.team {
   width:80px;
   height:80px;
}

.example {
    color: royalblue;
}