body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.game-question {
    text-align: center;
}

.score-report-header {
    text-align: center;
}

.welcome-col {
    text-align: center;
}

img.logo {
   width:400px;
   height:180px;
}

img.team {
   width:80px;
   height:80px;
}

.example {
    color: royalblue;
}