body {
    padding-top: 70px;
    padding-bottom: 30px;
}


.game-question {
    text-align: center;
}

.score-report-header {
    text-align: center;
}

.top-words-header {
    text-align: center;
}

.welcome-col {
    text-align: center !important;
}

img.logo {
   width:400px;
   height:180px;
}

img.team {
   width:80px;
   height:80px;
}

.boxed {
    border: 1px;
    border-color: gray;
    border-style:solid;
    padding-left: 10px;
    padding-right:10px
}

.instructions-modal {
    text-align: left;
}

.nym-button {
    font-family: 'Roboto Mono', sans-serif;
    border-radius: 0;
    box-shadow: 4px 4px 1px #888888;
}

.roboto-mono {
    font-family: Roboto Mono, sans-serif;
}

.school-bell {
    font-family: Schoolbell, sans-serif;
}

.center {
    text-align: center !important;
}

/* CSS for d3 bar chart*/
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis--x path {
    display: none;
}

test {
    text-align: center;
}


