commands:
  01_install_oracle:
    command: "http://download.oracle.com/otn/linux/instantclient/121010/oracle-instantclient12.1-basic-12.1.0.1.0-1.x86_64.rpm"
    command: "wget http://download.oracle.com/otn/linux/instantclient/121020/oracle-instantclient12.1-basic-12.1.0.2.0-1.x86_64.rpm"
    command: "wget http://download.oracle.com/otn/linux/instantclient/121020/oracle-instantclient12.1-devel-12.1.0.2.0-1.x86_64.rpm"
    command: "yum install oracle-instantclient12.1-basic-12.1.0.2.0-1.x86_64.rpm"
    command: "yum install oracle-instantclient12.1-devel-12.1.0.2.0-1.x86_64.rpm"
    command: "export LD_LIBRARY_PATH=/usr/lib/oracle/12.1/client64/lib:$LD_LIBRARY_PATH"

container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "NLP4CCB_Django_App/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
