{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel='stylesheet' href={% static "stylesheets/style.css" %}>
{% endblock %}
{% block scripts %}
    <script src={% static "javascripts/js-cookie/js.cookie.js" %}></script>
    <script src={% static "javascripts/input_words.js" %}></script>
{% endblock %}


{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-1">
                <h1 class="game-question school-bell">{{ question }} {{ base_word }}?</h1>
            </div>
            <div class="col-md-4">
                <h1 class="roboto-mono">Timer: <span class="timer">{{ time }}</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <form id="input-form" method="POST" action="./scoring/">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    <input id="id_form-BASE_WORD" name="base_word" type="hidden" value={{ base_word }}>
                    <input id="id_form-SEM_REL" name="sem_rel" type="hidden" value={{ sem_rel }}>
                    {% for form in formset %}
                        <div class="form-group word-rel-formset" index="0">
                            {{ form.word }}
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="col-md-4">
                <button id="skip-btn" class="button btn-primary btn-lg nym-button">
                    Skip Word
                </button>
            </div>
        </div>
    </div>

{% endblock %}

