{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel='stylesheet' href={% static "stylesheets/style.css" %}>
{% endblock %}
{% block scripts %}
    <script src={% static "javascripts/input_words.js" %}></script>
{% endblock %}


{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <h1 class="game-question">What are the parts of a car?</h1>
            </div>
            <div class="col-md-4">
                <h1>Timer: <span class="timer">5</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <form id="input-form" method="POST" action="./scoring/">
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="form-group word-rel-formset" index="0">
                            {{ form.word }}
                    </div>

                    {% endfor %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}

