{% extends "base.html" %}

{% load static %}

{% block scripts %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript">
        (function () {
            // lhs: js obj name accessed in js file; rhs is from context in py files
            window.wordData = {{ word_scores|safe }};
            window.percentages = {{ percentages|safe }};
            window.timesPlayed = {{ times_played|safe }};
        })();
    </script>
    <script src={% static  "javascripts/scoring.js"%}></script>
{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href={% static "stylesheets/style.css" %}>
{% endblock %}


{% block content %}
    <div class="container-fluid roboto-mono">
        <div class="row">
            <div class="col-md-offset-1 col-md-5" id="score-report-div" style="text-align: center">
                <h1 class="score-report-header school-bell">Score Report</h1>
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>{{ answer }}</th>
                        <!--
                        When hovering over Percentage Score, we want it to say:
                        Percentage of how many other players named this relation.

                        When hovering over WordNet Bonus, we want it to say:
                        Bonus points if this relation is in WordNet. All or nothing.
                        -->
                        <th>Percentage Score</th>
                        <th>WordNet Bonus</th>
                        <th>Word Score</th>
                    </thead>
                    {% for word, scores in word_scores %}
                        {% if scores.total_score %}
                            <tr class="success">
                        {% else %}
                            <tr class="danger">
                        {% endif %}
                            <td>{{ word }}</td>
                            <td>{{ scores.esp_score }}</td>
                            <td>{{ scores.word_net_bonus }}</td>
                            <td>{{ scores.total_score }}</td>
                        </tr>

                    {%  endfor %}
                </table>
                {% if first_response_bonus %}
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>First Response Bonus</th>
                            <th>{{ first_response_bonus }}</th>
                        </thead>
                    </table>
                {% endif %}

                <table class="table table-bordered table-hover">
                    <thead>
                        <th>Round Score</th>
                        <th>{{ round_total }}</th>
                    </thead>
                </table>

            </div>
            {% if percentages.data and times_played >= 5 %}
                <div class="col-md-5 #bar-chart">
                    <h1 class="top-words-header school-bell">Top Answers</h1>
                    <svg width="580" height="400"></svg>
                </div>
            {% endif %}
        </div>
        <div class="row" style="text-align: center">
            <a type="button" class="btn btn-success btn-lg nym-button" href="models/">Next Round</a>
            <a type="button" class="btn btn-success btn-lg nym-button" a href="/">Home</a>
        </div>
    </div>
{% endblock %}

