{% extends "base.html" %}

{% load static %}

{% block scripts %}
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript">
        (function () {
            window.wordData = {{ word_scores|safe }};
            window.percentages = {{ percentages|safe }};
        })();
    </script>
    <script src={% static  "javascripts/scoring.js"%}></script>
{% endblock %}

{% block stylesheets %}
    <link rel='stylesheet' href={% static "stylesheets/style.css" %}>
{% endblock %}


{% block content %}
    <div class="container-fluid" style="font-family: Roboto Mono, sans-serif">
        <div class="row">
            <div class="col-md-offset-1 col-md-5" id="score-report-div" style="text-align: center">
                <h1 class="score-report-header" style="font-family: Schoolbell">Score Report</h1>
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>Matched words for '{{ base_word }}'</th>
                        <th>Word Score</th>
                    </thead>
                    {% for word, scores in word_scores.items %}
                        {% if scores.total_score %}
                            <tr class="success">
                        {% else %}
                            <tr class="danger">
                        {% endif %}
                            <td>{{ word }}</td> <td> {{ scores.total_score }}</td>
                        </tr>

                    {%  endfor %}
                    <tr>
                        <td> <strong> Total Score </strong> </td> <td> {{ round_total }}</td>
                    </tr>
                </table>

            </div>
            {% if percentages.data %}
                <div class="col-md-5 #bar-chart">
                    <h1 class="top-words-header" style="font-family: Schoolbell">Top Answers</h1>
                    <svg width="580" height="400"></svg>
                </div>
            {% endif %}
        </div>
        <div class="row" style="text-align: center">
            <a type="button" class="btn btn-success btn-lg" href="models/" style="font-family:'Roboto Mono', sans-serif; border-radius: 0px;box-shadow: 4px 4px 1px #888888;">Next Round</a>
        </div>
    </div>
{% endblock %}

