{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel='stylesheet' href={% static "stylesheets/style.css" %}>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="score-report-header">Score Report</h1>
        </div>
        <div class="row">
            <div class=" col-md-4 col-md-offset-4" style="text-align: center">
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>{{ answer }}</th>
                        <!--
                        When hovering over Percentage Score, we want it to say:
                        Percentage of how many other players named this relation.

                        When hovering over WordNet Bonus, we want it to say:
                        Bonus points if this relation is in WordNet. All or nothing.
                        -->
                        <th>Percentage Score</th>
                        <th>WordNet Bonus</th>
                        <th>Word Score</th>
                    </thead>
                    {% for word, scores in word_scores.items %}
                        {% if scores.total_score %}
                            <tr class="success">
                        {% else %}
                            <tr class="danger">
                        {% endif %}
                            <td>{{ word }}</td>
                            <td>{{ scores.esp_score }}</td>
                            <td>{{ scores.word_net_bonus }}</td>
                            <td>{{ scores.total_score }}</td>
                        </tr>

                    {%  endfor %}
                </table>
                <table class="table table-bordered table-hover">
                    <thead>
                        <th>Round Score</th>
                        <th>{{ round_total }}</th>
                    </thead>
                </table>
                <a type="button" class="btn btn-success btn-lg" href="models/">Next Round</a>
            </div>

        </div>
    </div>
{% endblock %}

