{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel='stylesheet' href={% static "stylesheets/style.css" %}>
{% endblock %}

{% block content %}
{% for rel in data %}
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading panel-title">{{ rel.word1 }} {{ rel.word2 }}</div>

        <!-- List group -->
        <ul class="list-group">
            {% for sentence, POS in rel.S %}

                <li class="list-group-item">

                    {{ sentence }}

                    {% for w, pos_tag in POS %}
                       <span title="{{ pos_tag }}">{{ w }}</span>
                    {% endfor %}

                </li>
            {% endfor %}


        </ul>

    </div>

{% endfor %}

{#{% for rel in data %}#}
{#    <div class="panel panel-success">#}
{#        <!-- Default panel contents -->#}
{#        <div class="panel-heading panel-title">{{ rel.word1 }} {{ rel.word2 }}</div>#}
{##}
{#        <!-- List group -->#}
{#        <ul class="list-group">#}
{#            {% for tups in rel.POS %}#}
{##}
{#                <li class="list-group-item">#}
{##}
{#                    {% for word, POS in tups %}#}
{#                        {{ POS }}#}
{#                    {% endfor %}#}
{##}
{#                </li>#}
{#            {% endfor %}#}
{##}
{##}
{#        </ul>#}
{#    </div>#}
{##}
{#{% endfor %}#}
{% endblock %}