{% extends "base.html" %}

{% block content %}

  <form class="form-signin" method="POST" action=".">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please Login</h2>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>

    {% if login_failed %}
        <h2 style="color: crimson"> Login failed, please try again. </h2>
    {% endif %}

    <h4> Need an account? <a href='/signup'> Signup Here </a> </h4>

{% endblock %}