{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel='stylesheet' href={% static "stylesheets/style.css" %}>
{% block scripts %}
    <script src={% static "javascripts/test_jQuery.js" %}></script>
{% endblock %}
{% endblock %}

{% block content%}
<div class="container-fluid">
    <form method="POST" action="">
        {% for form in formset %}
            <div class="form-group word-rel-formset">
                {{ form }}
            </div>

        {% endfor %}
        <input type="submit" class="button">
    </form>
</div>
{% endblock %}