{% extends "base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel='stylesheet' href={% static "stylesheets/style.css" %}>
{% endblock %}

{% block scripts %}
    <script src={% static "javascripts/welcome.js" %}></script>
{% endblock %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <br>
    <br>

    <div class="container">
       <div class="row">
            <div class="col-md-12 welcome-col">
                <img class="logo" src="{% static "images/dark_logo_transparent_background.png" %}">
            </div>
       </div>
    </div>
    {% if request.user.username %}
        <br>

        <h1 class="welcome-col" style="font-family:'Schoolbell', sans-serif;"> Welcome {{ request.user.username }}!  </h1>
        <h4 class="welcome-col" style="font-family:'Roboto Mono', sans-serif; "> Total Rounds Played: <b> {{ rounds_played }} </b></h4>
        <h4 class="welcome-col" style="font-family:'Roboto Mono', sans-serif; "> Average Score Per Round: <b> {{ average_score }} </b> </h4>
    {% endif %}
    <br>

<div class="container">
    <div class="row">
        <div class="col-md-12 welcome-col">

{#            <a type="button" class="btn btn-info btn-lg" href='/signout' id="logout-button" style="font-family:'Roboto Mono', sans-serif; ">Logout</a>#}

            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#howToModal" style="font-family:'Roboto Mono', sans-serif; border-radius: 0px;box-shadow: 4px 4px 1px #888888;">How to Play</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#teamModal" style="font-family:'Roboto Mono', sans-serif; border-radius: 0px;box-shadow: 4px 4px 1px #888888;" >About the Team</button>
            &nbsp;&nbsp;
            <a type="button" class="btn btn-lg btn-success" href='/models' id="start-button" style="font-family:'Roboto Mono', sans-serif; border-radius: 0px;box-shadow: 4px 4px 1px #888888;">Start Round</a>

            <!-- How to Modal content-->
            <div id="howToModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="font-family:'Schoolbell', sans-serif; ">About This Game</h3>
                  </div>
                  <div class="modal-body instructions-modal" style="font-family:'Roboto Mono', sans-serif; ">

                            <div class="boxed" style="border: 1px; border-style:solid;border-color: gray; padding-left: 10px;padding-right:10px">            
                      <h3 style="text-align: center; font-family: Schoolbell">Welcome!<br> </h3>
                        <b style="color:#337ab7">Sign in</b> if you already have an account.<br>
                        If you don't have one, <b style="color:#337ab7">Sign up</b>!<br>
                      <!--   #5bc0de -->
                        Click <b style="color:#5cb85c">Start Round</b> to begin playing.<br>
                        For each round, you'll have <b>20 seconds</b> to identify as many word relations as you can.<br> <br>
</div>
                        <br>


                        <div class="boxed" style="border: 1px; border-style:solid;border-color: gray;padding-left: 10px;padding-right:10px">
                            <h4 style="font-family: Schoolbell, sans-serif">Example:</h4>
                            If the relationship is <b style="color:#ff7f7f">meronym</b>, you may be asked to
                            <br>
                            <h4 style="font-family: Schoolbell, sans-serif; text-align:center">
                            "Name parts of a face?"</h4>
                            To which you might answer...<br>

                              <ul>
                                  <li><b>eyes</b></li>
                                  <li><b>nose</b></li>
                                  <li><b>ears</b></li>
                                  <li><b>mouth</b></li>
                                  <li><b>chin</b></li>
                              </ul>
                               Press the <b style="color:gray">TAB key</b> or <b style="color:gray">ENTER</b> to create another box for word entry.<br><br>
                        </div>
                        <br>
                  
                <div class="boxed" style="border: 1px; border-style:solid;border-color: gray;padding-left: 10px;padding-right:10px">
                     <h4 style="text-align: center; font-family: Schoolbell">Scoring<br> </h4>
                        You get points for naming words.<br>
                        Your score for each word is a percentage of how many other players have also said it!<br>
                        Bonus points are awarded for words in <a href="https://wordnet.princeton.edu/">WordNet</a>, a handcrafted lexical database. <br>
                        Repeated words or empty boxes will not be considered for scoring.
                        <br>

                        </div>


                      <h3 style="font-family: Schoolbell;text-align: center">Have fun!</h3>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="border-radius: 0px;box-shadow: 4px 4px 1px #888888; font-family:Roboto Mono, sans-serif">Close</button>
                  </div>
                </div>

              </div>
            </div>


            <!-- Team Modal content-->
            <div id="teamModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="font-family: Schoolbell, sans-serif">About the team</h3>
                  </div>
                  <div class="modal-body">
                     <div class="row" style="font-family:Roboto Mono, sans-serif">
                         <div class="col-md-4">
                             <img class="team" src="{% static "images/hannah_cutler.jpg" %}"><br>
                             <b>Hannah Cutler</b><br> is a Senior studying Computer Science.<br>
                            
                            <a href="https://www.linkedin.com/in/hannah-cutler" style="margin-right:10px;color:white;">
                            <img src="{% static "images/linkedin.png" %}" style="width:10%;height:10%">
                            </a>
                            <a href="mailto:hcutler@seas.upenn.edu">
                            <img src="{% static "images/email.png" %}" style="width:10%;height:10%">
                            </a>
                             </div>

                         <div class="col-md-4">
                             <img class="team" src="{% static "images/dean_fulgoni.jpg" %}"><br>
                             <b>Dean Fulgoni</b><br> is a Senior studying <a href="http://www.nets.upenn.edu/">NETS</a>.<br>
                            
                            <a href="https://www.linkedin.com/in/dean-fulgoni-17629090/" style="margin-right:10px;color:white;">
                            <img src="{% static "images/linkedin.png" %}" style="width:10%;height:10%">
                            </a>
                            <a href="mailto:dfulgoni@seas.upenn.edu">
                            <img src="{% static "images/email.png" %}" style="width:10%;height:10%">
                            </a>

                             </div>



                         <div class="col-md-4">
                              <img class="team" src="{% static "images/ross_mechanic.jpg" %}"><br>
                             <b>Ross Mechanic</b><br> is a Senior studying Computer Science.<br>
                            <a href="https://www.linkedin.com/in/rossmechanic/" style="margin-right:10px;color:white;">
                            <img src="{% static "images/linkedin.png" %}" style="width:10%;height:10%">
                            </a>
                            <a href="mailto:rossmechanic@seas.upenn.edu">
                            <img src="{% static "images/email.png" %}" style="width:10%;height:10%">
                            </a>
                             </div>
                     </div>
                      <br>
                     <div class="row" style="font-family:Roboto Mono, sans-serif">
                     <br>
                         <div class="col-md-12">
                       <!--   <h3 style="font-family: Schoolbell, sans-serif" >Advisors:</h3> -->
                          <b style="font-family: Schoolbell, sans-serif">Advisors:</b><br>
                         <b><a href="http://www.cis.upenn.edu/~ccb/">Dr. Chris Callison-Burch</a></b><br>
                         <b><a href="https://www.linkedin.com/in/sneha-rajana-462a33bb/">Sneha Rajana</a></b>
                         </div>
                     </div>

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="border-radius: 0px;box-shadow: 4px 4px 1px #888888; font-family:Roboto Mono, sans-serif">Close</button>
                  </div>
                </div>

              </div>
            </div>

            <!-- Start Modal content-->
{#            <div id="startModal" class="modal fade" role="dialog">#}
{#              <div class="modal-dialog">#}
{##}
{#                <!-- Modal content-->#}
{#                <div class="modal-content">#}
{#                  <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal">&times;</button>#}
{#                    <h4 class="modal-title">You're almost ready to play</h4>#}
{#                  </div>#}
{#                  <div class="modal-body">#}
{#                      <div class="dropdown">#}
{#                          Select a word relation type and press <b>Start</b> below<br>#}
{#                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
{#                            Select one...#}
{#                            <span class="caret"></span>#}
{#                          </button>#}
{#                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">#}
{#                            <li><a href="#">Meronym</a></li>#}
{#                            <li><a href="#">Hypernym</a></li>#}
{#                            <li><a href="#">Antonym</a></li>#}
{#                            <li role="separator" class="divider"></li>#}
{#                            <li><a href="#">Surprise me!</a></li>#}
{#                          </ul>#}
{#                        </div>#}
{#                  </div>#}
{##}
{#                  <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-default" data-dismiss="modal">Start</button>#}
{#                  </div>#}
{#                </div>#}
{##}
{#              </div>#}
{#            </div>#}

        </div>
    </div>
</div>

{% endblock %}
